// /* 改变主题色变量 */
$--color-primary: #b6002a;

// /* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

#app {
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-family: -apple-system, Microsoft YaHei, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color: #2c3e50;
  min-height: 100vh;
  min-width: 1400px;
  margin: 0 auto;
  // background: url('./assets/homePage.png');
  background-size:100%;
}

.el-header, .el-footer {
  background-color: #B3C0D1;
  text-align: center;
  // line-height: 60px;
}
.el-header{
  // background: #b6002a;
  background-image: linear-gradient(270deg, #b6002a 0%, #e417464a 100%);
  color: white;
  height: 80px;
  /* line-height: 80px; */
  line-height: 80px
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
  min-height: 100vh;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}